<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span>&times;</span></button>
    <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
    <uib-tabset justified="true">
        <uib-tab index="0" select="setIsCustomer(true)" heading="Login as a customer"></uib-tab>
        <uib-tab index="1" select="setIsCustomer(false)" heading="Login as a supplier"></uib-tab>
    </uib-tabset>

    <div class="tab-content-margin">
        <p class="text-muted" ng-show="isCustomer">You need to login to place or manage orders.</p>
        <p class="text-muted" ng-show="isCustomer">Item(s) in the cart will be merged into your account.</p>
        <p class="text-muted" ng-hide="isCustomer">You will enter the supplier mode.</p>
        <p class="text-muted" ng-hide="isCustomer">You have to exit the supplier mode to continue browsing the website.</p>
        <p class="text-muted" ng-hide="isCustomer">The item(s) in the cart will be kept as long as you're still connected.</p>
        <hr>

        <p>Need an account? <a href="" ng-click="register()">Register</a></p>
        <p>Forget your password? <span class="text-muted">Send me an email (not available)</span></p>
        <hr>

        <form name="form">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input required ng-maxlength="32" ng-model="input.username" type="text" class="form-control" name="username" id="inputUsername" placeholder="Enter username">
                <div ng-messages="form.username.$touched && form.username.$error" role="alert" class="text-danger">
                    <div ng-message-exp="['required', 'maxlength']">
                        Invalid username
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input required ng-maxlength="32" ng-minlength="6" ng-model="input.password" type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter password">
                <div ng-messages="form.password.$touched && form.password.$error"  role="alert"  class="text-danger">
                    <div ng-message-exp="['required','minlength', 'maxlength']">
                        Invalid password. Password should be between 6 and 32 characters.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="demoSubmit(true)" ng-show="isCustomer">Demo Login as a customer(No password required)</button>
    <button class="btn btn-success" type="button" ng-click="demoSubmit(false)" ng-hide="isCustomer">Demo Login as a supplier(No password required)</button>
    <button class="btn btn-primary" type="button" ng-disabled="!form.$valid" ng-click="submit()">Submit</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>